{{#yield-stylesheets}}
<link rel="stylesheet" type="text/css" href="/static/css/factful/article_view.css">
{{/yield-stylesheets}}
{{#yield-scripts}}
<script type="text/javascript" src="/static/js/factful/init.js"></script>
<script type="text/javascript" src="/static/js/factful/scroll.js"></script>
<script type="text/javascript" src="/static/js/factful/events.js"></script>
<script type="text/javascript" src="/static/js/factful/utils.js"></script>
<script type="text/javascript" src="/static/js/factful/article.js"></script>
<script type="text/javascript" src="/static/js/factful/comment.js"></script>
<script type="text/javascript">
    $(window).load(function(){
        var _id = "{{article_id}}";

        Factful.initialize(_id);
    });
</script>
{{/yield-scripts}}
{{#yield-content}}
<div id="wrapper-header">
    <div id="header">
        <div class="header-left">
            <a href="/factful/article/list" class="header-back">기사 리스트</a>
        </div>
        <div class="header-right">
            <!--<a href="{{user.link}}" class="header-profile {{user._id}}">
                <img src="/static/images/user/{{user.profile.image}}" alt="{{user.profile.nickname}}">
                {{user.profile.nickname}}
            </a>
            <button class="header-bookmark">기사 즐겨찾기</button>
            <button class="header-viewmode">보는 방식 바꾸기</button>-->
            <button class="header-logout" onclick="window.location.assign('/account/logout')">로그아웃({{user.username}})</button>
            <button class="header-helppage" onclick="window.open('/static/help.html')">도움말 보기</button>
            <button class="header-survey" onclick="window.open('https://docs.google.com/forms/d/1KaImVinABrqHzYU0_2FIiBmjj36XS3nLiPCqcrOgM_E/viewform')">설문 참여하기</button>
        </div>
    </div>
</div>
<div class="fucking">팩트풀 사용하기 팁<br>
<br>
기사의 특정 부분에 드래그하시면<br>
1. 댓글, 대댓글을 남기거나,<br>
2. 검증이 필요한 부분은 사실 확인 요청을,<br>
3. 직접 사실 확인을 할 수 있어요.<br>
<br>
댓글 대댓글에 공감하기도 하실 수 있답니다.<br><br>
버그가 있다면, 새로고침 해주세요.<br></div>
<div id="wrapper-content">
    <div id="content"></div>
</div>
{{/yield-content}}
