{{#yield-stylesheets}}
<link rel="stylesheet" type="text/css" href="/static/css/factful/article_view.css">
{{/yield-stylesheets}}
{{#yield-scripts}}
<script type="text/javascript" src="/static/js/factful/init.js"></script>
<script type="text/javascript" src="/static/js/factful/scroll.js"></script>
<script type="text/javascript" src="/static/js/factful/events.js"></script>
<script type="text/javascript" src="/static/js/factful/utils.js"></script>
<script type="text/javascript" src="/static/js/factful/article.js"></script>
<script type="text/javascript" src="/static/js/factful/comment.js"></script>
<script type="text/javascript">
    $(window).load(function(){
        var _id = "{{article_id}}";

        Factful.initialize(_id);
    });
</script>
{{/yield-scripts}}
{{#yield-content}}
<div id="wrapper-header">
    <div id="header">
        <div class="header-left">
            <a href="/factful/article/list" class="header-back">기사 리스트</a>
        </div>
        <div class="header-right">
            <a href="{{user.link}}" class="header-profile {{user._id}}">
                <img src="/static/images/user/{{user.profile.image}}" alt="{{user.profile.nickname}}">
                {{user.profile.nickname}}
            </a>
            <button class="header-bookmark">기사 즐겨찾기</button>
            <button class="header-viewmode">보는 방식 바꾸기</button>
        </div>
    </div>
</div>
<div id="wrapper-content">
    <div id="content"></div>
</div>
{{/yield-content}}
