<!DOCTYPE HTML>
<html>
    <head>
        <title>prototype - Factful</title>
        <script type="text/javascript" scr="/static/js/plugin/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" scr="/static/js/plugin/jquery.color-2.1.2.min.js"></script>
        {{{yield-scripts}}}
        <link rel="stylesheet" type="text/css" href="/static/css/factful/layout.css">
        <link rel="shorcut icon" href="/static/res/budgetwiser.ico">
        {{{yield-stylesheets}}}
    </head>
    <body>
        {{{yield-content}}}
    </body>
</html>
