{{#yield-stylesheets}}
<link rel="stylesheet" type="text/css" href="/static/css/register.css">
{{/yield-stylesheets}}
{{#yield-scripts}}
<script type="text/javascript" src="/static/js/register.js"></script>
<script type="text/javascript">
    $(window).load(function(){
        Layout.initialize();
        Account.initialize();
    });
</script>
{{/yield-scripts}}
{{#yield-contents}}
<div id="wrapper-register">
    <h1 class="project-logo">Budgetwiser (Factful)</h1>
    <p class="register-desc">
	계정을 만들어주세요!<br>
	사용하실 아이디와 비밀번호만 입력해주세요. 감사합니다.
    </p>
    <form class="register-form" action="javascript:;" method="post">
        <input type="hidden" class="next" name="next" value="{{next}}">
        <div class="input-group">
            <div class="username">
                <label class="label">Username</label>
                <input class="input" type="text" placeholder="아이디" name="username">
            </div>
            <div class="password">
                <label class="label">Password</label>
                <input class="input" type="password" placeholder="비밀번호" name="password">
                <input class="input" type="password" placeholder="비밀번호 확인" name="password">
            </div>
        </div>
        <input class="submit" type="submit" value="등록하기">
    </form>
</div>
<div id="wrapper-error">
    <p class="error-desc">
        You should input all information, please check
    </p>
</div>
{{/yield-contents}}
