<h3 class="about-us">
    Budgetwiser presents a novel way<br>
    of engaging the public in the policy making process
</h3>
<ul class="with-list">
    <li class="with-item helping">
        <h6 class="title">with helping</h6>
        <p class="info">
            With helping the public learn<br>
            about the policy making process<br>
            and its constituent components.
        </p>
    </li>
    <li class="with-item making">
        <h6 class="title">with making</h6>
        <p class="info">
            With making a good visualization<br>
            of the budget data and<br>
            their relations to public services.
        </p>
    </li>
    <li class="with-item understanding">
        <h6 class="title">with understanding</h6>
        <p class="info">
            With understanding<br>
            how the public comprehends<br>
            and customizes policy proposals.
        </p>
    </li>
</ul>
