<ul class="project-list">
    <li class="project-item factful">
        <a href="/factful" target="_blank">
            <span class="img"></span>
            <div class="info-wrapper">
                <div class="info-content">
                    <h3 class="name">Factful</h3>
                    <p class="info">
                        Factful is a web-based platform to promote public participation in policy making.<br>
                        The main goal is to build a Web platform for the public to actively engage<br>
                        in policy making, which will provide a new collaborative communication environment.
                    </p>
                </div>
            </div>
        </a>
    </li>
    <li class="project-item budgetwiser">
        <a href="/budgetmap" target="_blank">
            <span class="img"></span>
            <div class="info-wrapper">
                <div class="info-content">
                    <h3 class="name">Budgetmap</h3>
                    <p class="info">
                        Budgetmap polishes budget data into more dynamic and interactive forms<br>
                        through visualization methods.<br>
                        The main goal of BudgetMap is to give evaluation guidelines to the budget proposals.
                    </p>
                </div>
            </div>
        </a>
    </li>
</ul>

