#wrapper-header{
    width: 100%;
    height: 40px;
    margin: 0 0 60px 0;
}
#header{
    width: 100%;
    height: 100%;
}
.header-left{
    float: left;
    height: 100%;
}
.header-left>*{
    float: left;
    height: 100%;
}
.header-right{
    float: right;
    height: 100%;
}
.header-right>*{
    float: right;
    height: 100%;
}
.header-back{
    display: inline-block;
    height: 100%:
    font-size: 16px;
    line-height: 42px;
    background: url('/static/res/factful/btn_back.png') 0 0 no-repeat;
    padding-left: 56px;
    color: #c4cacf;
}
.header-back:hover{
    background-position: 0 -40px;
    text-decoration: none;
    color: #afb3b8;
}
.header-right>*{
    margin-left: 16px;
}
.header-bookmark{
    background: url('/static/res/factful/btn_bookmark.png') 0 0 no-repeat;
    width: 40px;
    height: 40px;
    text-indent: -9999em;
    cursor: pointer;
}
.header-bookmark:hover{
    background-position: 0 -40px;
}
.header-viewmode{
    background: url('/static/res/factful/btn_viewmode.png') 0 0 no-repeat;
    width: 40px;
    height: 40px;
    text-indent: -9999em;
    cursor: pointer;
}
.header-viewmode:hover{
    background-position: 0 -40px;
}
.header-profile{
    width: 40px;
    height: 40px;
    font-size: 0;
    overflow: hidden;
}
.header-profile>img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    opacity: .6;
}
.header-profile:hover>img{
    opacity: 1;
}
.header-profile.is-not-auth{
    background: url('/static/res/factful/btn_login.png') 0 0 no-repeat;
}
.header-profile.is-not-auth:hover{
    background-position: 0 -40px;
}
.header-profile.is-not-auth>img{
    display: none;
}

/* CONTENT */

body{
    padding: 0 80px;
}
#wrapper{
    margin-bottom: 100px;
}
#wrapper-content{
    display: inline-block;
    width: 100%;
    padding-bottom: 100px;
}
#content{
    display: inline-block;
    width: 100%;
}
.content-left{
    float: left;
    width: 670px;
    margin: 0 20px 0 0;
    display: inline-block;
}
.content-right{
    float: right;
    width: 310px;
    display: inline-block;
    overflow: visible;
    position: relative;
    z-index: 5;
}
.content-comment{
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 0; left: 0;
}

/* ARTICLE */

.factful-article, .factful-article>*{
    position: relative;
    z-index: 10;
}
.factful-article-title{
    font-size: 34px;
    color: #424649;
    font-weight: 700;
    margin-bottom: 30px;
    line-height: 45px;
}
.factful-article-info{
    font-size: 14px;
    margin-bottom: 50px;
    z-index: 30;
}
.factful-article-press{
    color: #296399;
    margin-right: 10px;
    display: inline;
}
.factful-article-date{
    color: #a6aaae;
}
.factful-article-paragraph{
    font-size: 17px;
    color: #424649;
    line-height: 30px;
    margin-bottom: 30px;
}
.factful-article-paragraph:last-child{
    margin-bottom: 0;
}
.factful-article-rel{
    color: #1e85e5;
    cursor: pointer;
    font-weight: 400;
}
.factful-article-rel:hover{
    box-shadow: 0 0 3px rgba(0, 0, 0, .4);
}
.factful-article-image{
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}
.factful-article-ranges{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 20;
    cursor: text;
}
.factful-article-range{
    position: absolute;
    z-index: 20;
    background: transparent;
    border: 1px dashed #babcbe;
    cursor: pointer;
    border-radius: 2px;
}
.factful-article-range-rel{
    border-color: #51a0ea;
}
.factful-article-ranges-backview{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 5;
}
.factful-article-range-backview{
    position: absolute;
    z-index: 5;
    border-radius: 2px;
}
.range-rect-start{
    border-right: none;
    border-radius: 2px 0 0 2px;
}
.range-rect-end{
    border-left: none;
    border-radius: 0 2px 2px 0;
}
.range-rect-mid{
    border-left: none;
    border-right: none;
    border-radius: 0;
}
/*.factful-article-ranges-menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 20;
}*/
.factful-article-range-menu{
    position: absolute;
    width: 120px;
    height: 40px;
    background: #5c5c5c;
    border-radius: 2px;
    margin-top: 6px;
    z-index: 1000;
    display: none;
}
.factful-article-range-menu:before{
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 6px;
    background: transparent url('/static/res/factful/deco_range_menu.png') 0 0 no-repeat;
    top: -6px;
    left: 50%;
    margin-left: -6px;
}
.factful-article-range-menu>button{
    width: 40px;
    height: 40px;
    float: left;
    background-position: 0 0;
    background-color: transparent;
    cursor: pointer;
    text-indent: -9999em;
}
.factful-article-range-menu>button:hover{
    background-position: 0 -40px;
}
.range-add-comment{
    background-image: url('/static/res/factful/btn_add_comment.png');
}
.range-add-factcheck{
    background-image: url('/static/res/factful/btn_add_factcheck.png');
}
.range-add-factcheck-req{
    background-image: url('/static/res/factful/btn_add_factcheck_req.png');
}

.range-add-comment-view{
    width: 300px;
    height: 300px;
    position: absolute;
    background: #fff;
    border: 1px solid #0bdc7c;
    border-radius: 2px;
    z-index: 2000;
    margin-top: 6px;
    padding: 16px 12px;
    display: none;
}
.range-add-comment-view:before{
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 10px;
    background: transparent url('/static/res/factful/deco_add_comment_view.png') 0 0 no-repeat;
    top: -7px;
    left: 50%;
    margin-left: -6px;
    z-index: 1100;

}
.range-add-comment-view>h4{
    color: #585c5f;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 16px;
}
.range-add-comment-textarea{
    width: 100%;
    height: 186px;
    border: none;
    font-size: 15px;
    line-height: 20px;
    color: #585c5f;
    margin-bottom: 16px;
    font-weight: 400;
    outline: none;
    resize: none;
}
.range-add-comment-submit{
    height: 34px;
    background: #0bdc7c;
    box-shadow: inset 0 -2px 0 #06b464;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 34px;
    float: right;
    cursor: pointer;
}
.range-add-comment-submit:hover{
    background: #05c56d;
}
.range-add-factcheck-view{
    width: 240px;
    position: absolute;
    background: #fff;
    border: 1px solid #0bdc7c;
    border-radius: 2px;
    z-index: 2000;
    margin-top: 6px;
    padding: 16px 12px;
    display: none;
}
.range-add-factcheck-view:before{
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 10px;
    background: transparent url('/static/res/factful/deco_add_comment_view.png') 0 0 no-repeat;
    top: -7px;
    left: 50%;
    margin-left: -6px;
    z-index: 1100;
}
.range-add-factcheck-submit{
    height: 34px;
    background: #0bdc7c;
    box-shadow: inset 0 -2px 0 #06b464;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 34px;
    float: right;
    cursor: pointer;
}
.range-add-factcheck-submit:hover{
    background: #05c56d;
}
.range-add-factcheck-view>h4{
    color: #585c5f;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 16px;
}
.range-add-factcheck-view>span{
    color: #585c5f;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    margin-bottom: 8px;
    display: block;
}
.range-add-factcheck-score{
    width: 100%;
    height: 36px;
    margin-bottom: 16px;
}
.range-add-factcheck-link{
    width: 100%;
    height: 36px;
    border: 0;
    outline: none;
    background: #fafafa;
    margin-bottom: 16px;
    padding: 0 8px;
}
.range-add-factcheck-link:focus{
    border: 1px solid #e3e3e3;
}
.factful-budget-info{
    display: inline-block;
    width: 100%;
    padding: 24px 19px;
    border: 1px dashed #d7d9db;
    border-radius: 4px;
    margin-bottom: 36px;
    z-index: 40;
    overflow: visible;
}
.factful-budget-info.closed:hover{
    background: #fdfdfd;
}
.factful-budget-header{
    width: 630px;
    height: 24px;
}
.factful-budget-title{
    display: inline-block;
    float: left;
    font-size: 20px;
    font-weight: 700;
    color: #454749;
    margin-right: 12px;
    line-height: 24px;
}
.factful-budget-other{
    width: 24px;
    height: 24px;
    float: left;
    background: url('/static/res/factful/btn_other_category.png') 0 0 no-repeat;
    text-indent: -9999em;
    cursor: pointer;
}
.factful-budget-other:hover{
    background-position: 0 -24px;
}
.factful-budget-fold{
    width: 10px;
    height: 24px;
    float: right;
    text-indent: -9999em;
    cursor: pointer;
}
.factful-budget-fold.to-close{
    background: url('/static/res/factful/btn_fold_category_close.png') 0 0 no-repeat;
}
.factful-budget-fold.to-open{
    background: url('/static/res/factful/btn_fold_category_open.png') 0 0 no-repeat;
}
.factful-budget-fold:hover{
    background-position: 0 -24px;
}
.factful-budget-delta{
    margin-top: 24px;
}
.factful-budget-delta-title{
    font-size: 16px;
    color: #616365;
    font-weight: 700;
    line-height: 16px;
}
.factful-budget-delta-graph{
    margin-top: 16px;
    display: inline-block;
}
.factful-budget-delta-year{
    margin-top: 12px;
    width: 100%;
}
.factful-budget-delta-year>div{
    float: left;
    margin-right: 120px;
    width: 30px;
    height: 12px;
    font-size: 12px;
    color: #919394;
    text-align: center;
}
.factful-budget-delta-year>div:last-child{
    margin-right: 0;
}
.factful-budget-delta-money{
    position: absolute;
    font-size: 13px;
    color: #0cacd9;
    background: #fff;
    border: 1px solid #d2d4d5;
    line-height: 36px;
    height: 36px;
    padding: 0 12px;
    z-index: 50;
    white-space: nowrap;
    display: none;
}
.factful-budget-delta-money:before{
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 12px;
    background: transparent url('/static/res/factful/deco_budget_delta_money.png') 0 0 no-repeat;
    top: 50%;
    left: -7px;
    margin-top: -6px;
    z-index: 60;
}
.factful-budget-more-title{
    font-size: 16px;
    color: #616365;
    font-weight: 700;
    line-height: 16px;
}
.factful-budget-more{
    margin-top: 32px;
}
.factful-budget-more-graph{
    margin-top: 16px;
}
.factful-budget-more-list{
    margin-top: 12px;
}
.factful-budget-more-item{
    margin-bottom: 8px;
    display: block;
}
.factful-budget-more-item:last-child{
    margin-bottom: 0;
}
.factful-budget-more-item-rect{
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    float: left;
}
.factful-budget-more-item-rect.sel{
    background: #ffbf24;
}
.factful-budget-more-item-blah{
    display: block;
    height: 16px;
    line-height: 16px;
    font-size: 14px;
    color: #454749;
}
.factful-budget-more-item-blah>span{
    font-weight: 700;
}
.factful-budget-more-item-blah.sel>span{
    color: #ff8624;
}

/* COMMENT */
.factful-comments-group{
    margin-bottom: 16px;
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    z-index: 50;
    display: none;
}
/*
.factful-comments-group.opened>div:first-child{
    margin-top: 0px !important;
}
.factful-comments-group.closed{
    opacity: .3;
}*/
.factful-comments-group>div{
    margin-top: 12px;
}
.factful-comments-group>div:first-child{
    margin-top: 0px;
}
.factful-range-info{
    width: 100%;
    padding: 16px 12px;
    border: 1px solid #9bcbf7;
    background: #fff;
    border-radius: 2px;
    position: relative;
    display: inline-block;
}
.factful-range-info-title{
    display: inline-block;
    font-size: 16px;
    color: #454749;
    font-weight: 700;
    float: left;
    line-height: 18px;
}
.factful-range-info-title>span{
    font-size: 14px;
    color: #454749;
    font-weight: 400;
}
.factful-range-info-subtitle{
    display: inline-block;
    font-size: 14px;
    color: #02c7ff;
    font-weight: 700;
    float: left;
    line-height: 18px;
}
.factful-range-info-list{
    display: block;
    clear: both;
    width: 100%;
    padding-top: 16px;
    font-size: 13px;
    color: #999999;
}
.factful-range-info-item{
    display: block;
    margin-left: ;
    font-size: 13px;
    line-height: 20px;
    color: #555555;
    background: url('/static/res/factful/deco_range_info_item.png') 0 0 no-repeat;
    padding-left: 16px;
    margin-bottom: 8px;
}
.factful-range-info-item:last-child{
    margin-bottom: 0;
}
.factful-range-info-item>b{
    font-size: 16px;
    font-weight: 700;
}
.factful-range-info-item>b>a{
    display: inline;
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #555555;
}
.factful-range-info-item>b>a:hover{
    color: orange;
}
.factful-range-info-add{
    color: #10b468;
    font-size: 13px;
    cursor: pointer;
    background: none;
    margin-top: 16px;
}
.factful-range-info-add:hover{
    text-decoration: underline;
}
.factful-comment-item{
    width: 100%;
    padding: 16px 12px;
    border: 1px solid #dedfe0;
    background: #fff;
    border-radius: 2px;
    position: relative;
}
.factful-comment-profile{
    width: 100%;
    height: 40px;
}
.factful-comment-profile-image{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    float: left;
}
.factful-comment-profile-username{
    display: block;
    font-size: 14px;
    line-height: 20px;
    color: #404447;
    width: 240px;
    /*padding-left: 6px;*/
    float: left;
    font-weight: 700;
}
.factful-comment-date{
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: #83878b;
    width: 240px;
    padding-bottom: 4px;
    float: left;
}
.factful-comment-content{
    font-size: 14px;
    line-height: 20px;
    color: #404447;
    margin-top: 10px;
}
.factful-factcheck-req{
    width: 100%;
    padding: 16px 12px;
    border-radius: 2px;
    border: 1px solid #9bcbf7;
    z-index: 1002;
    position: relative;
    background: #fff;
}
.factful-factcheck-req-content{
    padding-left: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #68696a;
    background: url('/static/res/factful/img_factcheck_request.png') 0 0 no-repeat;
    line-height: 40px;
    height: 40px;
}
.factful-factcheck-req-content>span{
    color: #02c7ff;
    font-weight: 700;
}
.factful-comment-button{
    display: inline-block;
}
.factful-comment-button>button{
    color: #aaafb3;
    font-size: 13px;
    line-height: 13px;
    cursor: pointer;
    background: none;
    margin-top: 16px;
    margin-right: 16px;
    float: left;
}
.factful-comment-button>button>span{
    color: #10b468;
    font-size: 13px;
    cursor: pointer;
    background: none;
    margin-top: 16px;
}
.factful-comment-button>button:hover>span{
    color: #02c7ff;
}

/* Comment Comment */
.factful-cocomment-input{
    width: 100%;
    margin-top: 16px;
    display: inline-block;
}
.factful-cocomment-input-textarea{
    width: 100%;
    border: 1px solid rgb(0, 199, 255);
    height: 100px;
}
.factful-cocomment-input-submit{
    height: 34px;
    background: #0bdc7c;
    box-shadow: inset 0 -2px 0 #06b464;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 34px;
    float: right;
    cursor: pointer;
    margin-top: 8px;
}
.factful-cocomment-input-submit:hover{
    background: #05c56d;
}

.factful-cocomment-item{
    width: 294px;
    margin: 12px -5px;
    border: 1px solid #edeeef;
    padding: 15px 11px;
}
.factful-cocomment-profile{
    height: 32px;
    width: 100%;
}
.factful-cocomment-profile-image{
    height: 32px;
    width: 32px;
    border-radius: 16px;
    float: left;
}
.factful-cocomment-profile-username{
    font-size: 13px;
    color: #404447;
    width: 230px;
    float: left;
    /*margin-left: 8px;*/
    font-weight: 700;
    line-height: 16px;
}
.factful-cocomment-date{
    font-size: 11px;
    color: #83878b;
    width: 230px;
    float: left;
    line-height: 16px;
}
.factful-cocomment-content{
    font-size: 14px;
    line-height: 20px;
    color: #404447;
    margin-top: 10px;
}
.factful-cocomment-button{
    display: inline-block;
}
.factful-cocomment-button>button{
    color: #aaafb3;
    font-size: 13px;
    line-height: 13px;
    cursor: pointer;
    background: none;
    margin-top: 16px;
    margin-right: 16px;
    float: left;
}
.factful-cocomment-button>button>span{
    color: #10b468;
    font-size: 13px;
    cursor: pointer;
    background: none;
    margin-top: 16px;
}
.factful-cocomment-button>button:hover>span{
    color: #02c7ff;
}


/* Factcheck */
.factful-factcheck{
    width: 100%;
    padding: 16px 12px;
    border-radius: 2px;
    border: 1px solid #9bcbf7;
    z-index: 1002;
    position: relative;
    background: #fff;
}
.factful-factcheck-header{
    padding-left: 50px;
    font-size: 16px;
    font-weight: 700;
    color: #68696a;
    background: url('/static/res/factful/img_factcheck_request.png') 0 0 no-repeat;
    line-height: 40px;
    height: 40px;
}
.factful-factcheck-score{
    padding-left: 12px;
}
.factful-factcheck-list{
    margin-top: 12px;
    display: inline-block;
}
.factful-factcheck-item{
    clear: both;
}
.factful-factcheck-item>span{
    float: left;
}
.factful-factcheck-item>a{
    float: right;
    color: #68696a;
    width: 238px;
    margin-left: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.factful-factcheck-item>a:hover{
    text-decoration: none;
    color: red;
}


/* Service Information */
.factful-article-services{
    position: absolute;
    z-index: 10;
    background: #fff;
    padding: 24px 12px;
    width: 100%;
    border: 1px solid #dedfe0;
    display: inline-block;
    border-radius: 2px;
}
.factful-article-services.closed:hover{
    background: #fdfdfd;
}
.factful-article-services-title{
    font-size: 20px;
    color: #454749;
    margin-bottom: 24px;
    line-height: 24px;
    font-weight: 700;
    float: left;
}
.factful-article-services-list{
    display: inline-block;
}
.factful-article-services-item{
    margin-bottom: 20px;
}
.factful-article-services-item:last-child{
    margin-bottom: 0;
}
.factful-article-services-item-link{
    font-size: 16px;
    color: #02c7ff;
    text-decoration: underline;
    margin-bottom: 4px;
    line-height: 22px;
}
.factful-article-services-item-info{
    font-size: 14px;
    color: #616365;
    line-height: 20px;
}

/* for live */
.header-logout, .header-helppage{
    font-size: 14px;
    line-height: 14px;
    height: 40px;
    padding: 0 12px;
    padding: 12px;
    border-radius: 2px;
    cursor: pointer;
    color: #02c7ff;
    border: 1px solid #e9e9e9;
    background: #fff;
}
.header-helppage{
    background: #02c7ff;
    color: #fff;
    border:1px solid #0094be;
}
.header-logout:hover, .header-helppage:hover{
    background: #eee;
}
.header-helppage:hover{
    background: #0094be;
}
.random-user{

}
