@import url('/static/css/fonts.css');

/* BASIC STYLES */
*{
    margin: 0 ;
    padding: 0;
    display: block;
    box-sizing: border-box;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    letter-spacing: -0.01em;

    /* for better anti-aliasing(font) */
    text-rendering: optimizingLegibility;
    -webkit-font-smoothing: subpixel-antialiased;

    -moz-box-sizing: border-box;
}
::selection{
    background: rgba(29, 70, 111, .5);
}
::-moz-selection{
    background: rgba(29, 70, 111, .5);
}
html, body{
    width: 100%;
    height: 100%;
}
script, title, style{
    display: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
span, b, i{
    display: inline;
}
button{
    border: 0;
    outline: none;
}
body{
    background: #296399 url('/static/res/factful/bg_layout.png') 0 0 repeat;
}
#wrapper{
    background: #fff;
    border-radius: 8px;
    padding: 60px;
    width: 1120px;
    margin: 30px auto 30px auto;
}
