@import url('/static/css/fonts.css');

/* BASIC STYLES */
*{
    margin: 0 ;
    padding: 0;
    display: block;
    box-sizing: border-box;
    font-family: 'Nanum Gothic';
    font-weight: 400;
    letter-spacing: -0.01em;

    /* for better anti-aliasing(font) */
    text-rendering: optimizingLegibility;
    -webkit-font-smoothing: subpixel-antialiased;

    -moz-box-sizing: border-box;
}
::selection{
    background: rgba(0, 132, 255, .15);
}
::-moz-selection{
    background: rgba(0, 132, 255, .15);
}
::-webkit-input-placeholder{
    font-weight: 400;
    color: #989a9c;
}
::-moz-placeholder{
    font-weight: 400;
    color: #989a9c;
}
html, body{
    width: 100%;
}
script, title, style{
    display: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
span, b, i{
    display: inline;
}
button{
    border: 0;
    outline: none;
}
body{
    background: #296399 url('/static/res/factful/bg_layout.png') 0 0 repeat;
}
#wrapper{
    background: #fff;
    border-radius: 8px;
    padding: 60px;
    width: 1120px;
    margin: 30px auto 30px auto;
}

/* for live */

.article-list-title{
    text-align: center;
    font-size: 24px;
    color: #fff;
    margin: 0px auto;
    font-weight: 700;
    margin-top: 20px;
}
.article-list-sub{
text-align: center;
font-size: 16px;
color: rgba(255,255, 255,.7);
line-height: 16px;
margin: 4px auto;
}
.article-list{
    width: 720px;
    height: 50px;
    margin: 0px auto 8px auto;
    line-height: 50px;
    font-size: 18px;
    padding: 0 24px;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #555;
    color: #222;
}
.article-list:hover{
    background: #ddd;
}
.survey{
width: 720px;
margin: 0 auto;
margin-top: 24px;
}
.survey a{
width: 720px;
color: black;
background: orange;
font-size: 18px;
line-height: 50px;
height: 50px;
padding: 0 24px;
border-radius: 4px;
border: 1px solid rgb(192, 124, 0);
}
.survey a:hover{
background: rgb(192, 124, 0);
}
.survey p{
width: 100%;
text-align: center;
color: white;
font-size: 14px;
line-height: 20px;
margin-top: 4px;
}
.friend{
text-align:center;
width: 720px;
margin: 0 auto;
margin-top: 40px;
font-size: 14px;
color: white;
line-height: 20px;
}
.friend a{
display:inline;
background: orange;
line-height: 30px;
color: black;
}
